apiVersion: apps/v1
kind: Deployment
metadata:
  name: iatipublisher-queue-worker-default
  labels:
    tier: backend
    layer: queue-worker
    queue: default
spec:
  selector:
    matchLabels:
      tier: backend
      layer: queue-worker
      queue: default
  replicas: 2
  template:
    metadata:
      labels:
        tier: backend
        layer: queue-worker
        queue: default
    spec:
      serviceAccountName: iatipublisher
      imagePullSecrets:
        - name: github-credentials
      containers:
      - name: iatipublisher-queue-worker
        envFrom:
          - configMapRef:
              name: iatipublisher
          - secretRef:
              name: iatipublisher
        image: ghcr.io/iati/iatipublisher/horizon
        lifecycle:
          preStop:
            exec:
              command: ["supervisorctl", "stop", "all"]
        imagePullPolicy: IfNotPresent
        ports:
        - containerPort: 9000
        volumeMounts:
          - name: iati-persistent-storage
            mountPath: /opt/apps/laravel-in-kubernetes/storage/logs
      volumes:
        - name: iati-persistent-storage
          persistentVolumeClaim:
            claimName: iati-pv-claim
